<form nz-form class="form registration" nzLayout="vertical" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item >
    <nz-form-control [nzSpan]="20">
      <h2 nz-typography class="form__title">Регистрация</h2>
      <p class="form__subtitle">На указанный номер телефона или Email будет выслан код подтверждения</p>
      
    </nz-form-control>    
  </nz-form-item>
 
  <nz-divider></nz-divider>
<!-- EMAIL INPUT FIELD -->
  <ng-template #phone>
    <nz-form-item>
      <nz-form-label nzFor="email" [nzSpan]="24">Введите email адрес</nz-form-label>
      <nz-form-control [nzSpan]="24" nzErrorTip="Некорректное значение email">
        <input nz-input formControlName="email" id="email" placeholder="Введите ваш Email адрес" />
      </nz-form-control>
    </nz-form-item>
  </ng-template>

  <!-- PHONE INPUT FIELD -->
  <div *ngIf="toggle; else phone">
    <nz-form-item>
      <nz-form-label nzFor="phoneNumber" [nzSpan]="24">Номер телефона</nz-form-label>
      <nz-form-control
        [nzSpan]="24"
        [nzValidateStatus]="validateForm.controls['phoneNumber']"
        nzErrorTip="Номер телефона заполнен не корректно">
        <input formControlName="phoneNumber" id="'phoneNumber'" placeholder="Введите номер телефона" nz-input />
      </nz-form-control>
    </nz-form-item>
  </div>
  <a style="padding: 4px 0" nzType="link" (click)="toggleInfo()">{{buttonTxt ? 'У меня нет телефона' : 'У меня нет email адреса'}}</a>
  <p class="form__subtitle pass">Придумайте пароль</p>
  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-label>Введите пароль</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Повторите пароль</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="confirm" />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">Password is inconsistent!</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="15">
      <label nz-checkbox formControlName="agree">
        <span>
          Принимаю
          <a>условия использования</a>
        </span>
      </label>
    </nz-form-control>
  </nz-form-item>
    <nz-form-control [nzSpan]="24">
      <button class="form__registration" nz-button nzType="primary" [disabled]="!validateForm.valid" (click)="nextComponent()" >Отправить проверочный код</button>
    </nz-form-control>
  </nz-form-item>


  <!-- <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="24">
      <button (click)="prevComponent()" nz-button nzSize="large" nzType="primary" class="signUnBtn" nzBlock >Назад</button>
      <button [disabled]="!validateForm.valid" (click)="nextComponent()" nz-button nzSize="large" nzType="primary" class="signUnBtn" nzBlock >Подтвердить</button>
    </nz-form-control>
  </nz-form-item> -->
</form>
